<h1>Stocks I'm watching</h1>

<% if @watches.empty? %>
  <p>You don't have any watches! Click the button below to watch a stock.</p>
  <p><%= link_to 'Watch a stock', new_watch_path, class: "btn btn-primary" %></p>
<% else %>
  <table class="table">
    <thead>
      <tr>
        <th>Code</th>
        <th>Name</th>
        <th>Threshold</th>
        <th>Current Price</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @watches.each do |watch| %>
        <tr>
        	<td><%= watch.stock.code %></td>
        	<td><%= watch.stock.name %></td>
        	<td>+/- <%= number_to_percentage(watch.threshold, precision: 2) %> from prev close</td>
          <td><%= number_to_currency(watch.stock.latest_quote.price) %>
            <span style="color: <%= direction_to_color(watch.stock.dail